<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joice.mvc.dao.SysUsersMapper">
	<resultMap id="BaseResultMap"
		type="org.joice.mvc.dao.domain.SysUsers">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="locked" jdbcType="BIT" property="locked" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, salt, locked
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_users
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sys_users
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="org.joice.mvc.dao.domain.SysUsers">
		insert into sys_users (id, username, password,
		salt,
		locked)
		values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR},
		#{locked,jdbcType=BIT})
	</insert>
	<insert id="insertSelective"
		parameterType="org.joice.mvc.dao.domain.SysUsers">
		insert into sys_users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="locked != null">
				locked,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="locked != null">
				#{locked,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="org.joice.mvc.dao.domain.SysUsers">
		update sys_users
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="locked != null">
				locked = #{locked,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="org.joice.mvc.dao.domain.SysUsers">
		update sys_users
		set username =
		#{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		locked = #{locked,jdbcType=BIT}
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<insert id="insertWithKey"
		parameterType="org.joice.mvc.dao.domain.SysUsers"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_users (id,
		username, password,
		salt, locked)
		values (#{id,jdbcType=BIGINT},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR}, #{locked,jdbcType=BIT})
	</insert>
</mapper>