<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/cache
                        http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 引入属性配置文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/dubbo.properties</value>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/mq.properties</value>
			</list>
		</property>
	</bean>

	<aop:aspectj-autoproxy />

	<bean id="hystrixCommandAspect"
		class="com.netflix.hystrix.contrib.javanica.aop.aspectj.HystrixCommandAspect" />

	<!-- 扫描注解 -->
	<context:component-scan base-package="org.joice" />

	<context:annotation-config />

	<!-- 引入Spring其它配置文件 -->
	<import resource="spring/Spring-*.xml" />

</beans>