<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 普通消息生产者 -->
	<bean id="rocketMqProducer" class="org.joice.service.rocketmq.RocketMqProducer"
		init-method="init" destroy-method="destory">
		<description>RocketMQ default producer</description>
		<property name="producerGroup" value="${producerGroup}" />
		<property name="nameServerAddr" value="${nameServerAddr}" />
	</bean>

	<!-- 事务消息生产者 -->
	<bean id="txMQProducer" class="org.joice.service.rocketmq.RocketMqTxProducer"
		init-method="init" destroy-method="destory">
		<description>RocketMQ transaction producer</description>
		<property name="txProducerGroup" value="${txProducerGroup}" />
		<property name="namesrvAddr" value="${nameServerAddr}" />
		<property name="checkThreadPoolMinSize" value="${checkThreadPoolMinSize}" />
		<property name="checkThreadPoolMaxSize" value="${checkThreadPoolMaxSize}" />
		<property name="checkRequestHoldMax" value="${checkRequestHoldMax}" />
	</bean>

	<!-- 消费者 -->
	<bean id="pushConsumer" class="org.joice.service.rocketmq.RocketMqPushConsumer"
		init-method="init" destroy-method="destory">
		<description>RocketMQ push consumer</description>
		<property name="consumerGroup" value="${consumerGroup}" />
		<property name="nameServerAddr" value="${nameServerAddr}" />
		<property name="topic" value="${topic}" />
		<property name="tag" value="${tag}" />
	</bean>

	<!-- 订单消费者 -->
	<bean id="payOrderMqConsumer" class="org.joice.service.busi.impl.PayOrderMqConsumerImpl"
		init-method="init">
		<description>PayOrderMqConsumer</description>
		<property name="consumerGroup" value="${payOrderConsumerGroup}" />
		<property name="namesrvAddr" value="${nameServerAddr}" />
		<property name="topic" value="${topic}" />
		<property name="tag" value="${payOrderTag}" />
	</bean>

	<!-- 用户注册邮件消费者 -->
	<bean id="userRegisterEmailConsumer"
		class="org.joice.service.busi.impl.UserRegisterEmailConsumerImpl"
		init-method="init">
		<description>userRegisterEmailConsumer</description>
		<property name="consumerGroup" value="${userRegisterEmailConsumer}" />
		<property name="namesrvAddr" value="${nameServerAddr}" />
		<property name="topic" value="${topic}" />
		<property name="emailTag" value="${emailTag}" />
	</bean>

	<!-- 用户注册账户消费者 -->
	<bean id="userRegisterAccountConsumer"
		class="org.joice.service.busi.impl.UserRegisterAccountConsumerImpl"
		init-method="init">
		<description>userRegisterAccountConsumer</description>
		<property name="consumerGroup" value="${userRegisterAccountConsumer}" />
		<property name="namesrvAddr" value="${nameServerAddr}" />
		<property name="topic" value="${topic}" />
		<property name="accountTag" value="${accountTag}" />
	</bean>

</beans>