<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://code.alibabatech.com/schema/dubbo
                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="false">
	
	<!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="joice-service" logger="slf4j" />

	<!-- 使用zookeeper注册中心暴露服务地址，check表示注册中心不存在时是否报错 -->
	<dubbo:registry address="${dubbo.registry.address}" check="false" />
	
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" threads="${dubbo.protocol.threads}" />
	
	<!-- 服务端配置超时时间及负载均衡策略-->
	<dubbo:provider timeout="${dubbo.timeout}" loadbalance="${dubbo.loadbalance}" />
	
	<!-- 要对外暴露的接口 -->
    <dubbo:service interface="org.joice.facade.api.SchedulerFacade" ref="schedulerFacade" />
    <dubbo:service interface="org.joice.facade.api.MqProducerFacade" ref="mqProducerFacade" />
    
</beans>