<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<description>定时任务调度器工厂</description>
		<property name="schedulerName" value="joice-scheduler" />
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<property name="configLocation" value="classpath:config/quartz.properties" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="schedulerManager" class="org.joice.service.support.scheduler.SchedulerManager">
		<property name="scheduler" ref="schedulerFactoryBean" />
		<property name="jobListeners">
			<list>
				<bean class="org.joice.service.support.scheduler.JobListener" autowire="byName" />
			</list>
		</property>
	</bean>

</beans>