<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joice.common.dao.BizPayOrderMapper">
  <resultMap id="BaseResultMap" type="org.joice.common.dao.domain.BizPayOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="buyer_user_id" jdbcType="VARCHAR" property="buyerUserId" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="trade_amount" jdbcType="INTEGER" property="tradeAmount" />
    <result column="trade_status" jdbcType="VARCHAR" property="tradeStatus" />
    <result column="scene" jdbcType="VARCHAR" property="scene" />
    <result column="goods_detail" jdbcType="VARCHAR" property="goodsDetail" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, buyer_user_id, merchant_id, trade_no, trade_amount, trade_status, scene, goods_detail, 
    notify_url, gmt_update, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_pay_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biz_pay_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.joice.common.dao.domain.BizPayOrder">
    insert into biz_pay_order (id, buyer_user_id, merchant_id, 
      trade_no, trade_amount, trade_status, 
      scene, goods_detail, notify_url, 
      gmt_update, gmt_create)
    values (#{id,jdbcType=BIGINT}, #{buyerUserId,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{tradeNo,jdbcType=VARCHAR}, #{tradeAmount,jdbcType=INTEGER}, #{tradeStatus,jdbcType=VARCHAR}, 
      #{scene,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{gmtUpdate,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.joice.common.dao.domain.BizPayOrder">
    insert into biz_pay_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buyerUserId != null">
        buyer_user_id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="tradeAmount != null">
        trade_amount,
      </if>
      <if test="tradeStatus != null">
        trade_status,
      </if>
      <if test="scene != null">
        scene,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="notifyUrl != null">
        notify_url,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="buyerUserId != null">
        #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null">
        #{tradeAmount,jdbcType=INTEGER},
      </if>
      <if test="tradeStatus != null">
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="scene != null">
        #{scene,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.joice.common.dao.domain.BizPayOrder">
    update biz_pay_order
    <set>
      <if test="buyerUserId != null">
        buyer_user_id = #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null">
        trade_amount = #{tradeAmount,jdbcType=INTEGER},
      </if>
      <if test="tradeStatus != null">
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="scene != null">
        scene = #{scene,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.joice.common.dao.domain.BizPayOrder">
    update biz_pay_order
    set buyer_user_id = #{buyerUserId,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      trade_amount = #{tradeAmount,jdbcType=INTEGER},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      scene = #{scene,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>