<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joice.common.dao.TaskFireLogMapper">
  <resultMap id="BaseResultMap" type="org.joice.common.dao.domain.TaskFireLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status_" jdbcType="VARCHAR" property="status" />
    <result column="server_host" jdbcType="VARCHAR" property="serverHost" />
    <result column="server_duid" jdbcType="VARCHAR" property="serverDuid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.joice.common.dao.domain.TaskFireLog">
    <result column="fire_info" jdbcType="LONGVARCHAR" property="fireInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_name, task_name, start_time, end_time, status_, server_host, server_duid
  </sql>
  <sql id="Blob_Column_List">
    fire_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from task_fire_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task_fire_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.joice.common.dao.domain.TaskFireLog">
    insert into task_fire_log (id, group_name, task_name, 
      start_time, end_time, status_, 
      server_host, server_duid, fire_info
      )
    values (#{id,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{serverHost,jdbcType=VARCHAR}, #{serverDuid,jdbcType=VARCHAR}, #{fireInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.joice.common.dao.domain.TaskFireLog">
    insert into task_fire_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        status_,
      </if>
      <if test="serverHost != null">
        server_host,
      </if>
      <if test="serverDuid != null">
        server_duid,
      </if>
      <if test="fireInfo != null">
        fire_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="serverHost != null">
        #{serverHost,jdbcType=VARCHAR},
      </if>
      <if test="serverDuid != null">
        #{serverDuid,jdbcType=VARCHAR},
      </if>
      <if test="fireInfo != null">
        #{fireInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.joice.common.dao.domain.TaskFireLog">
    update task_fire_log
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status_ = #{status,jdbcType=VARCHAR},
      </if>
      <if test="serverHost != null">
        server_host = #{serverHost,jdbcType=VARCHAR},
      </if>
      <if test="serverDuid != null">
        server_duid = #{serverDuid,jdbcType=VARCHAR},
      </if>
      <if test="fireInfo != null">
        fire_info = #{fireInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.joice.common.dao.domain.TaskFireLog">
    update task_fire_log
    set group_name = #{groupName,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status_ = #{status,jdbcType=VARCHAR},
      server_host = #{serverHost,jdbcType=VARCHAR},
      server_duid = #{serverDuid,jdbcType=VARCHAR},
      fire_info = #{fireInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.joice.common.dao.domain.TaskFireLog">
    update task_fire_log
    set group_name = #{groupName,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status_ = #{status,jdbcType=VARCHAR},
      server_host = #{serverHost,jdbcType=VARCHAR},
      server_duid = #{serverDuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 插入记录并获取主键 -->
  <insert id="insertAndGetId"  parameterType="org.joice.common.dao.domain.TaskFireLog" useGeneratedKeys="true" keyProperty="id" >
    insert into task_fire_log (group_name, task_name, 
      start_time, end_time, status_, 
      server_host, server_duid, fire_info
      )
    values (#{groupName,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{serverHost,jdbcType=VARCHAR}, #{serverDuid,jdbcType=VARCHAR}, #{fireInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  
</mapper>