<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://code.alibabatech.com/schema/dubbo
                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="false">
	
	<dubbo:application name="joice-web" logger="slf4j" />
	
	<!-- 使用zookeeper注册中心暴露服务地址，check表示注册中心不存在时是否报错--> 
	<dubbo:registry address="${dubbo.registry.address}" check="false" />
	
	<dubbo:consumer timeout="${dubbo.timeout}" />
		
	<!-- 调用其它工程暴露的服务 -->
	<dubbo:reference interface="org.joice.facade.api.SchedulerFacade" id="schedulerFacade" check="false"/>
	<dubbo:reference interface="org.joice.facade.api.MqProducerFacade" id="mqProducerFacade" check="false"/>
	
	<!-- 加上url的写法-->
	<!-- <dubbo:reference interface="cn.fesc.facade.api.output.AlipayTradeResponseFacade" id="alipayTradeResponseFacade" 
	  url="dubbo://127.0.0.1:20883/cn.fesc.facade.api.output.AlipayTradeResponseFacade" check="false"/>
	-->
	
</beans>