<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 事务消息生产者 -->
	<bean id="orderCreationMqProducerService" class="org.joice.mvc.service.impl.OrderCreationMqProducerServiceImpl"
		init-method="init" destroy-method="destory">
		<description>RocketMQ transaction producer</description>
		<property name="txProducerGroup" value="${txProducerGroup}" />
		<property name="namesrvAddr" value="${namesrvAddr}" />
		<property name="topic" value="${payOrderTopic}" />
		<property name="tag" value="${payOrderTag}" />
	</bean>

</beans>